* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    line-height: 1.5;
    background-color: #f9f9f9;
    color: #333;
    padding: 1rem;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.hero-photo-card {
    position: relative;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 0.5rem;
}

.hero-photo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-photo-card h1 {
    position: absolute;
    bottom: -0.5rem;
    width: 100%;
    color: #fff;
    padding: 0.5rem;
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
    font-family: "Playfair Display";
}

.hero-text-card h2 {
    font-family: "Playfair Display";
}

.hero-text-card {
    text-align: center;
}

.hero-icons {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.my-work h2, h3 {
    text-align: center;
    margin-bottom: 1rem;
    font-family: "Playfair Display";
}

.work-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.work-card {
    background-color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    max-width: 300px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.work-image {
    background-color: #a7d0cd;
    color: #fff;
    padding: 2rem;
    text-align: center;
    font-weight: bold;
    font-family: "Playfair Display";
}

.work-info {
    padding: 1rem;
}

.work-icons {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.work-icons img {
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    vertical-align: middle;
  }

.contact {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
    background-color: #2596be;
}

.contact-info {
    text-align: center;
}

.contact-info h2 {
    font-family: "Playfair Display";
}

.contact-icons p {
    margin-top: 0.5rem;
}

.contact-photo img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

.work-card:nth-child(1) .work-image { background-color: #7c75ca; }
.work-card:nth-child(2) .work-image { background-color: #d88f39; }
.work-card:nth-child(3) .work-image { background-color: #5e8f4d; }
.work-card:nth-child(4) .work-image { background-color: #ca7599; }
.work-card:nth-child(5) .work-image { background-color: #4692d9; }
.work-card:nth-child(6) .work-image { background-color: #5e8f4d; }